<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="stylesheets/transportes.css">
    <link rel="stylesheet" href="stylesheets/normalize.css">

  </head>
  <body>
    <header class="Cabecera">
        <img src="/images/logoTransporte.png" width= "100" alt= "Transportes X"/>
        <div class="animacion">
            <h1>Servicios Digitales Marce</h1>
        </div>

    </header>



    <p>Procimamente LOGIN</p>
    {{{body}}}


  </body>
  
  <footer style="font-family: 'Open Sans', sans-serif; font-size: 10px;">Diseñado y armado por Marcelo Soluciones</footer>
</html>
